# artifacts
__pycache__
.pytest*
*.egg-info

# misc
.ruff_cache

# ignore .vscode folder
.vscode/**/*

# keep these files
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json


# ignore Home Assistant folder
config/*

# keep configuration
!config/configuration.yaml
